[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
usaddress = "*"
psycopg2-binary = "*"
lxml = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
responses = "*"

[requires]
python_version = "3.13"
